/* 
@font-face {
	font-family: "Source Han Sans CN";
	src: 
		url('/../../fonts/CN/SourceHanSansCN-Bold.otf') format('opentype'),
		url('/../../fonts/CN/SourceHanSansCN-ExtraLight.otf') format('opentype'),
		url('/../../fonts/CN/SourceHanSansCN-Normal.otf') format('opentype'),
		url('/../../fonts/CN/SourceHanSansCN-Heavy.otf') format('opentype'),
		url('/../../fonts/CN/SourceHanSansCN-Light.otf') format('opentype'),
		url('/../../fonts/CN/SourceHanSansCN-Medium.otf') format('opentype'),
		url('/../../fonts/CN/SourceHanSansCN-Regular.otf')
		format('opentype');
	font-weight: normal;
}
/*Sans default version*/
/* 
@font-face {
	font-family: "XiQuezhaopaiti";
	src: 
		url('/../../fonts/CN/喜鹊招牌体-Regular.ttf') 
		format('truetype');
	font-weight: normal;
}
 */

#topic-storys {
  width: 35rem;
  max-width: 90%;
  margin: 2rem auto;
}

.body {
  background: #fafafa;
}

.header {
  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-align: left;
}

.topicContainer {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
}

.topicName {
  font-family: "XiQuezhaopaiti";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: justify;
  margin-bottom: 30px;
  color: #ffb469;
}

.topicAbstract {
  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-align: left;
  margin-bottom: 30px;
  color: #666666;
}

.btn {
  border-radius: 0.1rem;
}

.topicOther {
  /* 主要内容 */

  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-align: left;
  color: #666666;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 20px;
}

.buttonWidth {
  width: 80%;
}

/* main page */
.main-page {
  height: 90%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr min-content;
  background-color: #fafafa;
}

/* left */
.left {
  grid-column: 1 /2;
  grid-row: 1 / 2;
  padding-right: 5%;
  padding-left: 20%;
  padding-top: 10%;
  display: flex;
  justify-content: left;
}

/* right */
.right {
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  position: relative;
  height: 100vh;
  padding-right: 20%;
  padding-left: 0;
  overflow-y: scroll;
}

@media only screen and (max-width: 1000px) {
  .main-page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }

  .left {
    padding: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    /*     margin-left: 5%; */
    overflow: hidden;
    position: relative;
  }

  .right {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 0%;
    position: relative;
    overflow-y: visible;
  }
  .topicContainer {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    /*     padding-right: 100px; */
  }
}

@media only screen and (max-width: 600px) {
  .main-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }

  .left {
    padding: 8%;
    padding-top: 5%;
    padding-bottom: 0%;
    overflow: hidden;
    position: relative;
  }

  .right {
    width: 90%;
    margin: 5%;
    margin-top: 0%;
    padding-top: 0;
    padding-right: 0%;
    position: relative;
    overflow-y: visible;
  }
  .topicContainer {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
 .buttons {
  justify-content: center;
 }
}
