#topic-storys {
  width: 35rem;
  max-width: 90%;
  margin: 2rem auto;
}

.body{
  background:#FAFAFA;
}

.header {
  font-family: Source Han Sans CN;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-align: left;
}

.topicContainer {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
/*   padding-right:120px; */
}

.topicName {
  font-family: "XiQuezhaopaiti";
/*   font-style: normal; */
  font-weight: 400;
  font-size:40px;
  line-height: 52px;
  text-align: justify;
/*   letter-spacing: 0.1em; */
  margin-bottom: 30px;
  color: #ffb469;
}

.topicAbstract {
  font-family: "Source Han Sans CN";
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.025em;
text-align: left;
  margin-bottom: 30px;
  color: #666666;
}

.btn {
border-radius: 0.1rem;
}

.topicOther {
  /* 主要内容 */

  font-family: "Source Han Sans CN";
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.025em;
text-align: left;
  color: #666666;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-top: 20px;
  
}

.buttonWidth {
  width: 80%;
}

/* main page */
.main-page {
  /* width: 80%; */
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr min-content;
}

/* left */
.left {
  grid-column: 1 /2;
  grid-row: 1 / 2;
  padding-right:100px;
  padding-left: 70px;
  display: flex;
  justify-content: left;
  overflow: hidden;
}

/* right */
.right {
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  position: relative;
  height: 100vh;
  padding-right: 30%;
  padding-left: 0;
  overflow-y: scroll;
}

@media only screen and (max-width: 1000px) {
  .main-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }

  .left {
    padding: 15%;
    margin-left: 20px;
    overflow: hidden;
    position: relative;
  }

  .right {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    padding-right: 0;
    overflow-y: scroll;
  }
  .topicContainer {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  padding-right:100px;
}
}

@media only screen and (max-width: 600px) {
  .main-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }

  .left {
    padding: 10%;
/*     margin-left: px; */
    overflow: hidden;
    position: relative;
  }

  .right {
    margin-left: 10px;
    margin-right: 50px;
    position: relative;
    padding-right: 0;
    overflow-y: scroll;
  }
  .topicContainer {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;

}
}

