/* 

/*Sans default version*/

@font-face {
  font-family: "Source Han Sans CN";
  src: url("SourceHanSansCN-Normal.otf") format("opentype");
}

@font-face {
  font-family: "XiQuezhaopaiti";
  src: url(喜鹊招牌体-Regular.ttf) format("truetype");
}

#topic-storys {
  width: 35rem;
  max-width: 90%;
  margin: 2rem auto;
}

.body {
  background: #fafafa;
}

.header {
  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-align: left;
}

.topicContainer {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
}

.topicName {
  font-family: "XiQuezhaopaiti";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: justify;
  margin-bottom: 30px;
}

.topicAbstract {
  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-align: left;
  margin-bottom: 15px;
  color: #666666;
}

.btn {
  border-radius: 0.1rem;
}

.topicOther {
  /* 主要内容 */

  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-align: left;
  color: #666666;
}

.buttons1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.buttonWidth {
  width: 80%;
}

/* main page */
.main-page {
  height: 90%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr min-content;
  background-color: #fafafa;
}

/* left */
.left {
  grid-column: 1 /2;
  grid-row: 1 / 2;
  padding-right: 5%;
  padding-left: 25%;
  padding-top: 8%;
}
.mobile-nextTopic {
  display: none;
}

/* right */
.right {
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  position: relative;
  height: 100vh;
  padding-right: 20%;
  padding-left: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
}

.arrow {
  margin-left: -5px;
  margin-bottom: 5px;
}

.nextTopic {
/*   border: 1px solid black; */
  cursor: pointer;
  z-index:10;
  border-style: solid;
  color: black;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border-color: black;
  border-width: 1px;
  border-radius: 0.15rem;
  position: fixed;
  margin-right: 4%;
  margin-left: 80%;
  margin-top: 3.8rem;
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.3em;

  color: #333333;
}

.leafmap {
  margin-top: 40px;
  width: 80%;
}

@media only screen and (max-width: 1000px) {
  .main-page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }

  .left {
    padding: 15%;
    padding-top: 5%;
    padding-bottom: 10%;
    /*     margin-left: 5%; */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: left;
  }

  .right {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 0%;
    position: relative;
    overflow-y: visible;
  }
  .topicContainer {
    margin: 1.2rem auto;
    display: flex;
    flex-direction: column;
    /*     padding-right: 100px; */
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .nextTopic {
  width:102%;
  border-style: solid;
  color: black;
  text-align:center;
  padding: 0rem 0rem 0rem 0rem;
  border-color: black;
  border-left: solid green 0px;
  border-right: solid green 0px;
  border-bottom: solid #333333 1px;
  border-top: solid green 0px;
  border-radius: 0rem;
  position: sticky;
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 150% */

  letter-spacing: 0.6em;

  color: #333333;
  }
  .mobile-nextTopic {
    display: block;
    position: fixed;
    margin-right: 0;
    bottom: 20px;
    z-index: 20000;
  }

  .main-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }
  .mobile-post {
    margin-right: 50px;
    margin-left: 100px;
  }

  .left {
    padding: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
    overflow: hidden;
    position: relative;
  }

  .right {
    width: 90%;
    margin: 5%;
    margin-top: 0%;
    padding-top: 0;
    padding-right: 0%;
    position: relative;
    overflow-y: visible;
  }

  .topicContainer {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
