/* @font-face {
  font-family: "XiQuezhaopaiti";
  src: url(喜鹊招牌体-Regular.ttf) format("truetype");
} */

.body {
  background: #fafafa;
}

.header {
  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-align: left;
}

.topicContainer {
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
}

.notificationName {
  font-family: "XiQuezhaopaiti";
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: justify;
  margin-bottom: 30px;
  color: #333333;
}

.topicAbstract {
  font-family: "Source Han Sans CN";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-align: left;
  margin-bottom: 15px;
  color: #666666;
}

.btn {
  border-radius: 0.1rem;
}

/* main page */
.main-page {
  height: 90%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 1fr min-content;
  background-color: #fafafa;
}

/* left */
.left {
  grid-column: 1 /2;
  grid-row: 1 / 2;
  padding-right: 5%;
  padding-left: 25%;
  padding-top: 8%;
}

/* right */
.right {
  grid-column: 2 / -2;
  grid-row: 1 / 2;
  position: relative;
  height: 100vh;
  padding-right: 20%;
  padding-left: 0;
  overflow-y: scroll;
}

.leafmap {
  margin-top: 40px;
  width: 80%;
}

@media only screen and (max-width: 1000px) {
  .main-page {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }

  .left {
    padding: 15%;
    padding-top: 10%;
    padding-bottom: 10%;
    /*     margin-left: 5%; */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: left;
  }

  .right {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding-right: 0%;
    position: relative;
    overflow-y: visible;
  }
  .topicContainer {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    /*     padding-right: 100px; */
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .main-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
  }

  .left {
    padding: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
    overflow: hidden;
    position: relative;
  }

  .right {
    width: 90%;
    margin: 5%;
    margin-top: 0%;
    padding-top: 0;
    padding-right: 0%;
    position: relative;
    overflow-y: visible;
  }

  .topicContainer {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    padding-right: 0;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
