.story-item {
  margin: 1rem 0;
  background: #fafafa;
  border-style: solid;
  color: black;
  padding: 1rem 2rem;
  border-color: black;
  border-width: 1px;
  border-radius: 0.15rem;
  cursor: pointer;
  width: 90%;
}

.username {
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-right: 2%;
  color: #333333;
}

.story-header {
  font-size: 18px;
  /*   font-family: "Source Han Sans CN"; */
  font-weight: bold;
  height: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #333333;
}

.time {
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #9d9d9d;
  margin-right: 5%;
}

.story-content {
  /*   font-family: "Source Han Sans CN"; */
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-align: left;
  /* 
  margin-left: 10%;
  margin-right: 10%;
 */
  margin-bottom: 10px;
  margin-top: 10px;
  color: #333333;
  margin: 5%;
  margin-top: 3%;
}

.reactions {
  margin-left: 5%;
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile-pic1 {
  height: 40px;
  width: 35px;
  /* border: 1px solid #666666; */
  border-radius: 1.5rem;
  margin-right: 2%;
  margin-left: 25px;
}
.row {
  display: flex;
  flex-direction: row;
}

.list {
  margin-bottom: 20px;
}

.emoji_comments {
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #9d9d9d;
}

.emoji_likes {
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #9d9d9d;
}
.reply {
  height: 70%;
  width: 70%;
}
/* 
.like{
 height:70%;
 width:70%;
}
 */
.hashtag {
  font-weight: bold;
}

@media only screen and (max-width: 1000px) {
  .story-header {
    font-size: 14px;
    /*   font-family: "Source Han Sans CN"; */
  }
  .story-item {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .story-header {
    font-size: 14px;
    /*   font-family: "Source Han Sans CN"; */
  }
  .story-item {
    width: 100%;
  }
}
