/*Sans default version*/
/* @font-face {
	font-family: "Source Han Sans CN";
	src: 
		url('../../fonts/CN/SourceHanSansCN-Bold.otf') format('opentype'),
		url('../../fonts/CN/SourceHanSansCN-ExtraLight.otf') format('opentype'),
		url('../../fonts/CN/SourceHanSansCN-Normal.otf') format('opentype'),
		url('../../fonts/CN/SourceHanSansCN-Heavy.otf') format('opentype'),
		url('../../fonts/CN/SourceHanSansCN-Light.otf') format('opentype'),
		url('../../fonts/CN/SourceHanSansCN-Medium.otf') format('opentype'),
		url('../../fonts/CN/SourceHanSansCN-Regular.otf')
		format('opentype');
	font-weight: normal;
} */


.story-item {
  margin: 1rem 0;
  background: #FAFAFA;
  border-style: solid;
  color: black;
  padding: 1rem 2rem;
  border-color: black;
  border-width: 1px;
  cursor: pointer;
  width: 80%;
}

.username {
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-right: 15px;
}

.story-header {
  font-size: 18px;
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 700;
  height: 70%;
  margin-bottom: 5px;
}

.time {
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #9d9d9d;
  margin-right: 15px;
}

.story-content {
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.025em;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.reactions {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile-pic {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.list {
  margin-bottom: 20px;
}

.emoji_nums {
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  color: #9d9d9d;
}

.hashtag {
  font-weight: bold;
}
