.noti-story {
  border-style: solid;
  color: black;
  border-width: 1px;
  padding: 30px;
  border-color: black;
  width: 80%;
  margin-left: 15%;
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.025em;

  color: #333333;
}

.noti-item {
  display: flex;
  flex-direction: row;
}

.noti-col {
  margin: 1rem 0;
  background: #fafafa;
  border-style: solid;
  color: black;
  padding: 1rem 2rem;
  border-color: black;
  border-width: 1px;
  border-radius: 0.15rem;
  cursor: pointer;
  width: 90%;
}
