/*Roboto default version*/
@font-face {
	font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
/*Sans default version*/
@font-face {
	font-family: "Source Han Sans CN";
	src: 
		url('../../fonts/CN/SourceHanSansCN-Medium.otf') 
		format('opentype');
	font-weight: normal;
}

.navLogo {
/*   font-size: 50px; */
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 0em;
  margin-left: 3%;
}
.navbar-brand {
  font-size: 130%!important;
  padding-top: 0rem!important;
  padding-bottom: 0rem!important;
}
.date {
  font-size: 15px;
  font-family: "Source Han Sans CN";
  font-weight: normal;
  line-height: 26.06px;
  margin-left: 1%;
  color: #333333;
}

.navbar {
  border-bottom: 3px solid #000000;
  padding: 0;
  background-color:  #FAFAFA;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}
.navbar-inner {
  /* background-color: white; */
  z-index: 1000;
   padding:0;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0)!important;
    color: rgba(0,0,0,.0)!important;
	}
.navbar-toggler-icon {
	width:1em!important;
	height:1em!important;
}
.navbar-toggler {
	font-size: 1rem;
	}

@media only screen and (max-width: 1000px) {
  .navLogo {
    font-size: 80px;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 0em;
    padding-left: 4%;
  }

  .date {
    font-size: 15px;
    font-family: "Source Han Sans CN";
    font-weight: 700;
    line-height: 26.06px;
    margin-left: -40%;
    color: #333333;
  }
}

@media only screen and (max-width: 600px) {
  .navLogo {
    font-size: 60px;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 0em;
    margin-left: 2%;
/*     padding-left: 5%; */
  }
	
	.navbar-inner {
     /* background-color: white; */
     z-index: 1000;
     padding:0%;
	}

  .date {
    font-size: 15px;
    font-family: "Source Han Sans CN";
    font-weight: normal;
    line-height: 26.06px;
    margin-left: -30%;
    color: #333333;
  }
  .navbar {
  border-bottom: 3px solid #000000;
  padding: 0;
  background-color:  #FAFAFA;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
	

}


