/*Roboto default version*/
@font-face {
	font-family: "Roboto";
    src: url("../../fonts/roboto/Roboto-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
/*Sans default version*/
@font-face {
	font-family: "Source Han Sans CN";
	src: 
		url('../../fonts/CN/SourceHanSansCN-Medium.otf') 
		format('opentype');
	font-weight: normal;
}

.navLogo {
  font-size: 30px;
  font-family: "Roboto";
  font-weight: bold;
  letter-spacing: 0em;
  margin-left: -5%;
}

.date {
  font-size: 15px;
  font-family: "Source Han Sans CN";
  font-weight: normal;
  line-height: 26.06px;
  margin-left: 1%;
  color: #333333;
}

.navbar {
  border-bottom: 2px solid #000000;
  padding: 0;
  background-color:  #FAFAFA;
  /* margin-bottom: 10px; */
}
.navbar-inner {
  /* background-color: white; */
  z-index: 1000;
   padding:0;
}

@media only screen and (max-width: 1000px) {
  .navLogo {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 0em;
    padding-left: 4%;
  }

  .date {
    font-size: 15px;
    font-family: "Source Han Sans CN";
    font-weight: 700;
    line-height: 26.06px;
    margin-left: -40%;
    color: #333333;
  }
}

@media only screen and (max-width: 600px) {
  .navLogo {
    font-size: 30px;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 0em;
    margin: -5%;
    padding-left: 5%;
  }
	
.navbar-inner {
  /* background-color: white; */
  z-index: 1000;
  padding:3%;
}

  .date {
    font-size: 15px;
    font-family: "Source Han Sans CN";
    font-weight: normal;
    line-height: 26.06px;
    margin-left: -10%;
    color: #333333;
  }
}


