.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#month {
  height: 60%;
}
#year {
  height: 60%;
}

.date-popup {
  margin-left: 10px;
  margin-right: 10px;

  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  /* or 175% */

  color: #333333;
}

.exist-check {
  margin: 0px;
  font-family: "Source Han Sans CN";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  /* or 175% */

  color: #333333;
}

.autocomplete {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.profile-pic-popup {
  height: 60px;
  width: 55px;
  margin-right: 3%;
  margin-left: 5%;
}

.profile-pic {
  height: 40px;
  width: 40px;
  margin-right: 3%;
  margin-left: 5%;
}

#DateHappened {
  position: relative;
  z-index: 100;
}

.border-radius {
  border-radius: 0.1rem;
  border-style: solid;
  border-color: black;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-style: solid;
  border-color: black;
  background-color: #fafafa;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  margin: -5% -5% 5% -5%;
}

.dates-popup {
  margin-top: 15px;
  width: 100%;
}
.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
  position: relative;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: start;
  position: relative;
  width: 100%;
  margin-right: 0;
  padding-right: 0;
}

.form-row2 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-bottom: 20px;

  z-index: 10;
}
#autocomplete-widen {
  width: 280px;
}

.form-select {
  font-size: 15px !important;
  background-color: #fafafa !important;
  border: None !important;
  border-radius: 0rem !important;
  border-bottom: 1px solid #999999 !important;
  padding: 0.375rem 0.75rem !important;
}
.title-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-around;
}

.margin-right {
  margin-right: 20px;
  width: 100%;
}

.margin-left {
  width: 90%;
  margin-left: 25px;
}

.submitbutton {
  border-radius: 10cm !important;
  width: 100px !important;
  margin-right: 40px;
}

.submit-text {
  font-weight: 400;
  font-size: 17px;
  margin-left: 10px;
  line-height: 2s0px;
  letter-spacing: 0.66em;
  color: #ffffff;
}

.comment-content {
  height: 500px;
}

.modalContainer .footer button {
  width: 150px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}

.textarea {
  resize: none;
  position: relative;
}
.textarea-comment {
  resize: none;
  position: relative;
  height: 200px;
}

.anonymous-logo {
  margin-left: 25px;
}
.dropdownDiv {
  z-index: 1001;
  position: absolute;
  left: 0;
  width: 68%;
  background-color: rgba(200, 200, 200, 0.5);
}

.word-count {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  opacity: 0.5;
}
.form-control {
  border: 1px solid #333333 !important;
  border-radius: 0rem !important;
  font-size: 15px !important;
  background-color: #fafafa !important;
  width: 95% !important;
}

.form-check-label {
  font-size: 15px;
}
@media only screen and (max-width: 1000px) {
  ::placeholder {
    font-size: small;
  }
  .form-select {
    font-size: small;
  }

  /* .modalContainer {
    width: 500px;
    height: 800px;
  } */
}

@media only screen and (max-width: 600px) {
  ::placeholder {
    font-size: small;
  }

  .date-popup {
    margin-left: 0px !important;
    margin-right: 5px !important;
    margin: 20px;
  }
  #autocomplete-widen {
    width: 200px;
  }
  .submitbutton {
    margin-right: 30px;
  }
  .word-count {
    margin-right: 30px;
  }

  .form-select {
    font-size: small;
  }

  .titleCloseBtn button {
    margin: -5% 0% 0% -5%;
  }
  .modalContainer {
    width: 500px;
    height: 450px;
  }
}
