@font-face {
    font-family: "XiQuezhaopaiti";
    src: url(喜鹊招牌体-Regular.ttf) format('truetype');
}


.about-page {
    height: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr min-content;
    background-color: #fafafa;
}

.body-about {
    background: #fafafa;
}

.header-about {
    font-family: "Source Han Sans CN";
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.3em;
}

.communityStandards {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
}

.title-about {
    font-family: "XiQuezhaopaiti";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    text-align: justify;
    margin-bottom: 30px;
    color: #333333;
}

.content-about {
    font-family: "Source Han Sans CN";
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.025em;
    text-align: left;
    margin-bottom: 30px;
    color: #666666;
}


/* left */
.left-about {
    grid-column: 1 /2;
    grid-row: 1 / 2;
    padding-right: 5%;
    padding-left: 25%;
    padding-top: 8%;
    display: flex;
    justify-content: left;
}

/* right */
.right-about {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    position: relative;
    height: 100vh;
    padding-right: 20%;
    padding-left: 0;
}

.title1-about {
    /*  max-width: 50%;
    /* margin: 2rem auto; */
    position: relative;
    /* width: 62px;
    height: 27px; */
    left: 10%;
    top: 43px;

    /* 标题二 */
    font-style: bold;
    font-weight: 900 !important;
    font-size: 20px;
    /* line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.2em;

    color: #333333;
}

.content1-about {
    position: relative;
    /*  width: 622px;
    height: 120px; */
    left: 20%;
    top: 8px;
    /*  width: 35rem; */
    /*  max-width: 50%;
    /*  margin: 2rem auto;

    /* 主要内容 */

    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px;
    /* or 171% */

    letter-spacing: 0.025em;

    color: #333333;
}

.title2-about {
    position: relative;
    /*width: 83px;
    height: 27px; */
    left: 10%;
    top: 40px;

    /* 标题二 */

    font-style: bold;
    font-weight: 900 !important;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.2em;

    color: #333333;
}

.content2-about {
    position: relative;
    /*  width: 605px;
    height: 48px; */
    left: 25%;
    top: 13px;

    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px;
    /* or 171% */

    letter-spacing: 0.025em;

    color: #333333;
}

.title3-about {
    position: relative;
    /*  width: 83px;
    height: 27px; */
    left: 10%;
    top: 50px;

    /* 标题二 */

    font-style: bold;
    font-weight: 900 !important;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.2em;

    color: #333333;
}

.content3-about {
    position: relative;
    /*   width: 605px;
    height: 48px; */
    left: 25%;
    top: 20px;

    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px;
    /* or 171% */

    letter-spacing: 0.025em;

    color: #333333;
}

.title4-about {
    position: relative;
    /*  width: 83px;
    height: 27px; */
    left: 10%;
    top: 50px;

    /* 标题二 */

    font-style: bold;
    font-weight: 900 !important;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.2em;

    color: #333333;
}

.content4-about {
    position: relative;
    /*  width: 605px;
    height: 48px; */
    left: 25%;
    top: 20px;

    font-family: 'Source Han Sans CN';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    /*  line-height: 24px;
    /* or 171% */

    letter-spacing: 0.025em;

    color: #333333;
}


.title5-about {
    position: relative;
    /*   width: 83px;
    height: 27px; */
    left: 10%;
    top: 45px;

    /* 标题二 */
    font-style: bold;
    font-weight: 900 !important;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.2em;

    color: #333333;
}

.content5-about {
    position: relative;
    /*  width: 605px;
    height: 48px; */
    left: 25%;
    top: 20px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /*  line-height: 24px;
    /* or 171% */

    letter-spacing: 0.025em;

    color: #333333;
}

.title6-about {
    position: relative;
    /*   width: 830px;
    height: 27px; */
    left: 10%;
    top: 50px;

    /* 标题二 */
    font-style: bold;
    font-weight: 900 !important;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 150% */

    letter-spacing: 0.2em;

    color: #333333;
}

@media only screen and (max-width: 1000px) {
    .about-page {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center;
    }


    .left-about {
        padding: 15%;
        padding-top: 10%;
        padding-bottom: 10%;
        /*     margin-left: 5%; */
        overflow: hidden;
        position: relative;
    }

    .right-about {
        opacity: 0;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding-right: 0%;
        position: relative;
        overflow: hidden;
    }

    .communityStandards {
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        /*     padding-right: 100px; */
    }

}

@media only screen and (max-width: 600px) {
    .about-page {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center;
    }

    .left-about {
        padding: 10%;
        padding-top: 5%;
        padding-bottom: 0%;
        overflow: hidden;
        position: relative;
    }


    .right-about {
        opacity: 0;
        width: 90%;
        margin: 5%;
        margin-top: 0%;
        padding-top: 0;
        padding-right: 0%;
        position: relative;
        overflow-y: visible;
    }

    .communityStandards {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }
}