@font-face {
    font-family: "XiQuezhaopaiti";
    src: url(喜鹊招牌体-Regular.ttf) format("truetype");
}

.about-page {
    height: 90%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr min-content;
    background-color: #fafafa;
}

.communityStandards {
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
}

.main_title_about {
    font-family: "XiQuezhaopaiti";
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    position: relative;
    left: 0px;
    top: 20px;
    margin-bottom: 30px;
    color: #333333;
}

.title_about {
    /* 标题二 */
    font-style: bold;
    font-weight: 900 !important;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height, or 150% */
    /* width: 200px; */
    letter-spacing: 0.2em;
    margin-right: 100px;
    color: #333333;
}

.content_about_left {
    font-family: "Source Han Sans CN";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0.025em;

    color: #333333;
}

.content_about {
    font-family: "Source Han Sans CN";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0.025em;

    color: #333333;
}

.main_content_about {
    position: relative;
    width: 318px;
    height: 72px;
    left: 0px;
    top: 50px;

    /* 主要内容 */

    font-family: "Source Han Sans CN";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.025em;

    color: #333333;
}

/* left */
.left_about {
    grid-column: 1 /2;
    grid-row: 1 / 2;
    padding-right: 5%;
    margin-right: 10%;
    padding-left: 25%;
    padding-top: 8%;
    display: flex;
    justify-content: left;
}

.point_about {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-left: 50px
}

.title_about {
    width: 20em;
    display: inline-block;
    text-align: left;
}

.content_about_let {
    width: 10em;
}

.content_about {
    width: 80em;
}

/* right */
.right_about {
    grid-column: 2 / -2;
    grid-row: 1 / 2;
    position: relative;
    height: 100vh;
    padding-right: 20%;
    padding-left: 0;
    overflow-y: scroll;
    margin-top: 100px;
}

.vl_about {
    position: relative;
    height: 90%;
    border-left: 1px solid #191b1f;
}

@media only screen and (max-width: 1000px) {
    .about-page {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        flex-direction: column;
        justify-content: center;
    }

    .left_about {
        padding: 15%;
        padding-top: 10%;
        padding-bottom: 10%;
        /*     margin-left: 5%; */
        overflow: hidden;
        position: relative;
    }

    .right_about {
        width: 70%;
        margin-left: 5%;
        margin-right: 5%;
        padding-right: 0%;
        position: relative;
        overflow-y: visible;
    }

    .communityStandards_about {
        margin: 1.5rem auto;
        display: flex;
        flex-direction: column;
        /*     padding-right: 100px; */
    }
}

@media only screen and (max-width: 600px) {
    .about-page {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        justify-content: center;
    }

    .left_about {
        padding: 10%;
        padding-top: 5%;
        padding-bottom: 0%;
        overflow: hidden;
        position: relative;
    }

    .vl_about {
        overflow: visible;
        position: relative;
    }

    .right_about {
        width: 90%;
        margin: 5%;
        margin-top: 0%;
        padding-top: 0;
        padding-right: 0%;
        position: relative;
        overflow-y: scroll;
    }

    .communityStandards_about {
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        padding-right: 0;
    }
}