.comment-prof {
  height: 30px;
  width: 30px;
  border: 1px solid #666666;
  border-radius: 1.5rem;
  margin-right: 0%;
}
.wrapper {
  margin-left: 2%;
}

.comment-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}
.time {
  font-family: Roboto;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.username {
  width: 100%;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.leftFlex {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
}
